
    <link href="~/css/bookingconfirmationstyle.css" rel="stylesheet" />

    <div class="sd-page-full">
        <div class="checkmark">✅</div>
        <h1>Booking successful</h1>
        <p>Check your email for your tickets</p>
        <a asp-controller="Hotel" asp-action="Index" class="btn btn-primary">
            Find a hotel for your destination 🏨
        </a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            Go back to the homepage
        </a>
    </div>
