<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Confirmation</title>
    <link href="~/css/bookingconfirmationstyle.css" rel="stylesheet" />
</head>
<body>

    <div class="checkmark">✅</div>
    <h1>Booking successful</h1>
    <p>Check your email for your tickets</p>
    <a asp-controller="Hotel" asp-action="Index" class="btn btn-primary">
        Find a hotel for your destination 🏨
    </a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
        Go back to the homepage
    </a>
    

</body>
</html>

