@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link href="~/css/footerstyle.css" rel="stylesheet" />
<footer>
    <p>© 2025 - Avaro Airlines - @Localizer["All rights reserved"]</p>
</footer>
