@using MyAirlines.ViewModels
@using MyAirlines.Extentions
@inject IHttpContextAccessor HttpContextAccessor

<link href="~/css/HeaderStyle.css" rel="stylesheet" />
<header>
    <nav class="navbar">
        <a href="/" class="logo">
            <img height="70" src="~/images/avaro_white.png" />
        </a>

        

        <!-- Auth-buttons voor ingelogde en niet-ingelogde gebruikers -->
        <div class="auth-buttons">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Index" class="signed-in-user">Welcome, @User.Identity.Name!</a>
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                    <button type="submit" class="sd-btn-important">Sign out</button>
                </form>
            }
            else
            {
                <a href="/Identity/Account/Login" class="sign-in">Sign in</a>
                <a href="/Identity/Account/Register" class="sign-up">Register</a>
            }
            @await Html.PartialAsync("_SelectCulture")
        </div>
        
        @{
            var cart = HttpContextAccessor.HttpContext.Session.GetObject<ShoppingCartVM>("ShoppingCart");
            bool cartHasItems = cart != null && cart.Carts.Any();
        }
        @if (cartHasItems)
        {
            <a asp-controller="ShoppingCart" asp-action="Index">
                <img src="~/images/shoppingcart.jpg" alt="Shopping Cart" class="shopping-style" />
            </a>
        }


        <!-- Hamburger menu button -->
        <button class="hamburger" id="hamburger-btn" aria-label="Toggle navigation">
            <svg width="30" height="30" viewBox="0 0 100 80" fill="white">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </button>

      
       
    </nav>
</header>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hamburgerBtn = document.getElementById('hamburger-btn');
        const navContent = document.querySelector('.auth-buttons');

        function bindHamburger() {
            if (window.innerWidth <= 1200) {
                hamburgerBtn.onclick = function () {
                    navContent.classList.toggle('active');
                };
            } else {
                navLinks.classList.remove('active');
                hamburgerBtn.onclick = null;
            }
        }

        bindHamburger(); // Bij het laden
        window.addEventListener('resize', bindHamburger); // Op schermverandering
    });
</script>

