<header>
    <nav class="navbar">
        <div class="logo"><img src="~/images/avaro logo.png" /></div>
        <ul class="nav-links">
            <li><a href="#">Destinations</a></li>
            <li><a href="#">Flights</a></li>
            <li><a href="#">Trending Places</a></li>
            <li><a href="#">Accommodations</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <div class="auth-buttons">
            <a href="#" class="sign-in">Sign in</a>
            <a href="#" class="sign-up">Register</a>
        </div>
    </nav>
</header>
