﻿ /* Algemene stijlen */
html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zorg ervoor dat de body de volledige hoogte van het scherm inneemt */
    margin: 0;
    padding: 0;
    background-image: url('../images/background_avaro.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* De achtergrond blijft vast tijdens het scrollen */
    overflow-x: hidden; /* Voorkom horizontaal scrollen */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    align-items: center;
    text-align: center;
    flex: 1;
}

/* Form styling */
select,
input[type="date"] {
    width: 100%;
    padding: 12px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s ease;
    border: 1px solid #999;
}

    select:focus,
    input:focus {
        border-color: #0056b3;
        outline: none;
    }

.left-flight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px;
}

.right-flight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5px;
}

.flightsearch-text {
    height: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.flight-search-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.aantal-personen {
    height: 44px;
    border-radius: 10px;
    border: 1px solid #999;
    padding: 12px;
    font-size: 12px;
}

/* Table styling */
table.table {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 1000px;
}

table th,
table td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

table thead {
    background-color: #007bff;
    color: white;
}

a {
    text-decoration: none;
}

.sd-gm-spacing-mid {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

    .sd-gm-spacing-mid h2 {
        margin-bottom: 20px;
    }

    .sd-gm-spacing-mid .button-group {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
