﻿ /* Sticky Footer */
footer {
    background-color: #0a4d68;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: bold !important;
}

footer p {
    margin: 0px !important;
    font-size: unset !important;
    color: white !important;
}
