/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between; /* Verdeel de ruimte tussen logo, navigatielinks en knoppen */
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.shopping-style {
    cursor: pointer; height: 40px;
    border-radius: 25px;
}

.signed-in-user {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
    transition: 0.3s;
}

    .signed-in-user:hover {
        opacity: 0.8;
        transform: scale(0.95);
    }

/* Logo */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0a4d68;
}

/* hamburger */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 1200px) {
    .hamburger, #hamburger-btn {
        display: block;
    }
}

    /* dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .dropdown-btn {
        padding: 5px 12px;
        display: flex;
        align-items: center;
        background: transparent;
        color: white;
        border-radius: 25px;
        height: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background: #fff;
        border: 1px solid #ccc;
        min-width: 160px;
        z-index: 1;
        border-radius: 15px;
        padding: 10px;
        right: -20px;
    }

        .dropdown-content div {
            padding: 8px 12px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

    .dropdown-item:hover {
        border-radius: 10px;
        background: linear-gradient(45deg, #0fbdff, #0029ffa1);
        color: white;
        font-weight: bold;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Auth-buttons (Sign-in/Sign-up) */
    .auth-buttons {
        display: flex;
        gap: 1rem;
    }

        .auth-buttons .sign-in,
        .auth-buttons .sign-up {
            padding: 0.5rem 1rem;
            border-radius: 20px;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            transition: background 0.3s ease, color 0.3s ease;
        }

        .auth-buttons .sign-in {
            background: transparent;
            color: white;
            border: 1px solid white;
            transition: 0.3s;
        }

            .auth-buttons .sign-in:hover {
                transform: scale(0.95);
            }

        .auth-buttons .sign-up {
            background: linear-gradient(45deg, #0fbdff, #0029ffa1);
            color: white;
            border: none;
            transition: 0.3s;
        }

            .auth-buttons .sign-up:hover {
                transform: scale(0.95);
            }
