@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<link href="~/css/FormPage.css" rel="stylesheet" />
<div class="sd-form-wrapper">
    <div class="sd-form-card">
        <p>Confirm your account by clicking the link in your mailbox</p>
    </div>
</div>
